# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Local config
local.properties
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/

# Kotlin/Native
kotlin-native/

# Xcode
iosApp/**/build/
iosApp/**/DerivedData/
iosApp/**/*.xcuserstate
iosApp/**/xcuserdata/
iosApp/**/*.xccheckout
iosApp/**/*.moved-aside
*.xcworkspace/xcuserdata/

# Web
webApp/dist/
node_modules/

# Claude Code
.claude/

# OS
.DS_Store
Thumbs.db

# Env / segredos
.env
*.jks
*.keystore
